<!DOCTYPE html>
{% include license.html %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>xhyve{% if page.title %} - {{ page.title }}{% endif %}</title>
    <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" type="text/css" charset="utf-8" /> -->
    <link rel="stylesheet" href="{{ site_base }}/stylesheets/w3.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ site_base }}/stylesheets/master.css" type="text/css" charset="utf-8" />
    {% if page.stylesheet %}<link rel="stylesheet" href="{{ site_base }}/stylesheets/{{ page.stylesheet }}" type="text/css" charset="utf-8" />{% endif %}
{% include google_analytics.html %}
  </head>
  <body>
